		* {margin:0;padding:0;} /* CSS reset pour uniformiser les navigateurs */
		* {font-family:Verdana;}
		body > header, body > section {padding:2em;}
		h2 {color:#034c7a; text-transform: uppercase;}
		h1 {background-color:#034c7a;color:white;padding:1em;text-transform: uppercase;}
		#contenu {padding:2em;}
		form {border:solid #034c7a 2px; background-color:lightblue; padding:1em;}
		form > div {margin-top:1em;}
		form > div > label {display:block; font-weight:bold; color:#476e87;}
		form input, form textarea, form select {width: 39em;}
		form input[type=submit] {margin-top:2em;}
		form textarea {height:5em;}
